{
  "database": {
    "userId": "<sql-username>",
    "password": "<sql-password>"
  },
  "legacy": {
    "swaggerUrl": "https://<legacy-api-host>/swagger/v1/swagger.json",
    "apiBaseUrl": "https://<legacy-api-host>/api/",
    "authEmail": "<admin-email>",
    "authPassword": "<admin-password>"
  }
}
